/* Definindo a paleta de cores para uso no componente */
:host {
  --cor-primaria: #03658C;
  --cor-texto-escuro: #333;
}

.header-title {
  margin: 0;
  color: var(--cor-texto-escuro);
  font-weight: 500;
  font-size: 1.8rem;
}

.filters-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* --- Layout Geral e Cabeçalho (Padrão Reutilizado) --- */
.municipio-list-container {
  padding: 24px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header-title {
  margin: 0;
  color: var(--cor-texto-escuro);
  font-weight: 500;
  font-size: 1.8rem;
}

/* --- Estilo da Tabela (Padrão Reutilizado) --- */
.table-container {
  border-radius: 8px;
  overflow: hidden;
}

.full-width-table {
  width: 100%;
}

.mat-header-cell {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.85rem;
  font-weight: 600;
}

.table-row:hover {
  background-color: #f5f5f5;
}

.mat-cell {
  color: var(--cor-texto-escuro);
  border-bottom-width: 1px;
  border-bottom-color: #e0e0e0;
}

/* --- Coluna de Ações (Padrão Reutilizado e Corrigido) --- */
.mat-column-acoes {
  width: 160px;
}

.mat-column-acoes .mat-header-cell {
  text-align: center;
}

.mat-column-acoes .mat-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}