<div *ngIf="municipio" class="container">
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>{{ municipio.nome }}</mat-card-title>
      <mat-card-subtitle>Detalhes do Município</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div class="info-grid">
        <p><strong>ID IBGE:</strong> <span>{{ municipio.id }}</span></p>
        <p><strong>Prefeito:</strong> <span>{{ municipio.prefeito || 'Não informado' }}</span></p>
        <p><strong>Total de Bairros:</strong> <span>{{ totalBairros }}</span></p>
        <p><strong>Plano Diretor:</strong>
          <span class="status-chip" [ngClass]="{
            'status-sim': municipio.possui_plano_diretor === PossuiPlanoDiretor.SIM,
            'status-nao': municipio.possui_plano_diretor === PossuiPlanoDiretor.NAO,
            'status-info': municipio.possui_plano_diretor === PossuiPlanoDiretor.SEM_INFORMACAO
          }">
            <span *ngIf="municipio.possui_plano_diretor === PossuiPlanoDiretor.SIM">Sim</span>
            <span *ngIf="municipio.possui_plano_diretor === PossuiPlanoDiretor.NAO">Não</span>
            <span *ngIf="municipio.possui_plano_diretor === PossuiPlanoDiretor.SEM_INFORMACAO">Sem Informação</span>
          </span>
        </p>
      </div>
      
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button routerLink="/municipios">Voltar</button>
      <button mat-raised-button color="primary" [routerLink]="['/municipios/editar', municipio.id]">Editar</button>
    </mat-card-actions>
  </mat-card>

  <div class="botoes-externos">
    <button mat-raised-button color="primary" [routerLink]="['/bairros/municipio', municipio.id]">
      <mat-icon>list</mat-icon>
      Listar Bairros
    </button>
    <button mat-raised-button color="accent" [routerLink]="['/bairros/novo', municipio.id]">
      <mat-icon>add_circle_outline</mat-icon>
      Adicionar Bairro
    </button>
  </div>
</div>